[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pep8 = "*"
autopep8 = "*"

[packages]
django = "*"
djangorestframework = "*"
pep8 = "*"
autopep8 = "*"
django-cors-headers = "*"

[requires]
python_version = "3.7"
